.header {
  align-items: center;
  background: var(--background-header);
  box-shadow: 0px 4px 4px var(--shadow);
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.header__menu i::before {
  content: "\e904";
  font-size: 24px;
}

.header__logo {
  width: 40px;
}

.header__profile {
  display: none;
}


.header__notifications i::before {
  content: "\e906";
  font-size: 24px;
}

@media screen and (min-width: 1024px) {
  .header {
    background: var(--background);
    box-sizing: border-box;
    column-gap: 32px;
    display: grid;
    grid-template-columns: 1fr auto;
    height: 80px;
    padding: 16px 60px; 
  }

  .header__menu, 
  .header__logo {
    display: none;
  }

  .header__profile {
    align-items: center;
    border-right: 1px solid var( --grey);
    color: var( --grey);
    column-gap: 8px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-self: flex-end;
    padding: 8px 32px;
    
  }

  .header__profile::before {
    background-image: url(../images/profile_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /*para a imagem ficar contida dentro do tamanho*/
    content: "";
    display: block; /*para determinar altura e largura*/
    height: 32px;
    width: 32px;
  }

  .header__profile::after {
    color: var(--white);
    content: "\e90d";
    font-size: 1.5rem;
  }
}