.side-menu {
  background: var(--background-menu);
  color: var(--grey);
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: -1000vh;
  position: absolute;
  transition: .25s;
  width: 75vw;
}

.side-menu--active {
  left: 0;
  transition: .25s;
}

.side-menu__logo {
  align-self: center;
  padding: 16px;
  width: 118px;
}

.side-menu__link {
  align-items: center;
  height: 64px;
  display: flex;
  padding-left: 64px;
}

.side-menu__link::before {
  content: "";
  font-size: 24px;
  height: 24px;
  position: absolute;
  left: 24px;
  width: 24px;
}

.side-menu__link--active {
  color: var(--white);
  border-left: 8px solid var(--white);
  padding-left: 56px;
}

.side-menu__link--start::before {
  content: "\e902";
}

.side-menu__link--videos::before {
  content: "\e90e";
}

.side-menu__link--peaks::before {
  content: "\e909";
}

.side-menu__link--members::before {
  content: "\e903";
}

.side-menu__link--shirts::before {
  content: "\e900";
}

.side-menu__link--paints::before{
  content: "\e90a";
}

@media screen and (min-width: 1024px) {
  .side-menu {
    grid-column: 1;
    grid-row: 1 / span 2;
    position: static;
    width: 200px;
  }
}

